body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.projects_section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.card{
  width: 250px; 
  margin: 10px; 
  background-color:beige;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}